.btn-vigiles-rounded {
  border-radius: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#navLogo {
  width: 50%;
  height: 50%;
}

#footer, .bg-vigiles, .btn-vigiles, .btn-vigiles-rounded {
  background-color: #ff4c4c;
}

#footer {
  margin-top: 20px;
  padding-top: 17px;
  padding-bottom: 5px;
}
