#colorFlow {
  position: fixed;
  bottom: 0;
  z-index: -1;
  min-width: 100% !important;
  height: 50% !important;
}

#content {
  margin-bottom: 5vh;
}

#footer {
  height: 6vh;
  padding-top: 17px;
  padding-bottom: 5px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: $vigilesRed;
}

#map {
  height: 84vh;
  width: 100%;
}

#navLogo {
  width: 60%;
  height: 60%;
}

#navbar {
  font-size: 16px;
}

.border-vigiles {
  border: 3px solid $vigilesRed;
}

.btn-vigiles {
  border-radius: 40px;
  padding-left: 50px;
  padding-right: 50px;
  color: #fff;
}

.btn-vigiles:hover {
  border-radius: 40px;
  padding-left: 50px;
  padding-right: 50px;
  color: $vigilesRed;
  background-color: #fff;
  border: 2px solid $vigilesRed;
}

.btn-vigiles-w {
  border-radius: 40px;
  padding-left: 50px;
  padding-right: 50px;
  color: $vigilesRed;
}

.btn-vigiles-w:hover {
  border-radius: 40px;
  padding-left: 50px;
  padding-right: 50px;
  color: #fff;
  background-color: $vigilesRed;
  border: 2px solid #fff;
}

.btn-vigiles-sm {
  border-radius: 40px;
  color: #fff;
  border: 2px solid $vigilesRed;
}

.btn-vigiles-sm:hover {
  border-radius: 40px;
  color: $vigilesRed;
  background-color: #fff;
  border: 2px solid $vigilesRed;
}

.btn-vigiles-sm-w {
  border-radius: 40px;
  color: $vigilesRed;
  border: 2px solid $vigilesRed;
}


.btn-vigiles-sm-w:hover {
  border-radius: 40px;
  color: #fff;
  background-color: $vigilesRed;
  border: 2px solid #fff;
}

.btn-vigiles-circle {
  border-radius: 100%;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 40px;
  font-weight: 500;
  color: #fff;
  background-color: $vigilesRed;
}

.btn-vigiles-circle:hover {
  border-radius: 100%;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 40px;
  font-weight: 600;
  color: $vigilesRed;
  background-color: #fff;
  border: 2px solid $vigilesRed;
}

.bg-vigiles, .btn-vigiles, .btn-vigiles-sm, .btn-vigiles-circle, .btn-search {
  background-color: $vigilesRed;
}

.capitalize {
  text-transform: capitalize;
}

.img-infowin {
  width: 18vh;
  height: 18vh;
  object-fit: cover;
}

.nav-link-dropdown, .btn-link-red, .link-red {
  color: $vigilesRed;
  font-weight: 500;
}

.nav-link-dropdown:hover, .btn-link-red:hover, .btn-link-red:active, .nav-link:hover, .link-red:hover {
  color: $vigilesRed;
  text-indent: 7px;
  font-weight: 600;
  transition: text-indent 1s;
  text-decoration: none;
  outline: none;
}

.separator-right {
  border-right: 1px solid $vigilesRed;
}

.profile-pic {
  border-radius: 100%;
  width: 18vh;
  height: 18vh;
  object-fit: cover;
}

.profile-col {
  min-height: 25vh;
  margin-top: auto;
  margin-bottom: auto;
}

.text-vigiles, .title-vigiles {
  color: $vigilesRed;
}

.title-vigiles {
  font-size: 20px;
}

.chatBtn {
    background-color: $vigilesRed;
    transition: $transition;
    border-color: $vigilesRed;
    &:hover {
        background-color: white;
        border-color: $vigilesRed;
        color: $vigilesRed;
        transition: $transition;
    }
}

.chatSend {
    background-color: $vigilesWhite;
    border-color: black;
    color: black;
    transition: $transition;
    border-radius: 15px;
    &:hover {
        background-color: $vigilesRed;
        border-color: $vigilesWhite;
        color: white;
        border-radius: 20px;
        transition: $transition;
    }
}

.chatReceive {
    background-color: $vigilesRed;
    color: white;
    border-color: $vigilesWhite;
    border-radius: 15px;
    transition: $transition;
    &:hover {
        background-color: $vigilesWhite;
        border-color: $vigilesRed;
        color: black;
        border-radius: 20px;
        transition: $transition;

    }
}

li {
  list-style: none;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .user-for-report {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0 auto !important;
  }
}
