#footer {
  height: 6vh;
  padding-top: 17px;
  padding-bottom: 5px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: $vigilesRed;
}

#navLogo {
  width: 60%;
  height: 60%;
}

#navbar {
  font-size: 16px;
}

.address {
  color: $vigilesRed;
  text-transform: capitalize;
}

.btn-vigiles {
  border-radius: 40px;
  padding-left: 50px;
  padding-right: 50px;
  color: #fff;
}

.btn-vigiles:hover {
  border-radius: 40px;
  padding-left: 50px;
  padding-right: 50px;
  color: $vigilesRed;
  background-color: #fff;
  border: 2px solid $vigilesRed;
}

.btn-vigiles-circle {
  border-radius: 100%;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 40px;
  font-weight: 500;
  color: #fff;
  background-color: $vigilesRed;
}

.btn-vigiles-circle:hover {
  border-radius: 100%;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 40px;
  font-weight: 600;
  color: $vigilesRed;
  background-color: #fff;
  border: 2px solid $vigilesRed;
}

.bg-vigiles, .btn-vigiles, .btn-vigiles-circle {
  background-color: $vigilesRed;
}

.nav-link-dropdown, .btn-link-red, .link-red {
  color: $vigilesRed;
  font-weight: 500;
}

.nav-link-dropdown:hover, .btn-link-red:hover, .nav-link:hover, .link-red:hover {
  color: $vigilesRed;
  text-indent: 7px;
  font-weight: 600;
  transition: text-indent 1s;
  text-decoration: none;
}

.profilePic {
  border: 3px solid $vigilesRed;
  border-radius: 100%;
  width: 18vh;
  height: 18vh;
}

.text-vigiles, .title-vigiles {
  color: $vigilesRed;
}

.title-vigiles {
  font-size: 20px;
}
